body {
    margin: 20px;
}

#book-container {
    margin: 0;
    padding: 0;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#books {
    margin: 20px 20px 0px 20px;
    height: auto;
    height: 250px;
    flex-grow: 1;

    display: flex;
    align-items: end;
}

.book {
    border: 1px solid black;
    margin: 0;
    padding: 10px 0px 10px 0px;
    max-height: 100%;
    min-height: 60%;
    writing-mode: vertical-rl;
    font-size: 24px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.book p {
    margin: 5px;
    overflow-wrap: break-word;
    hyphens: auto;
    word-spacing: 20%;
    pointer-events: none;
}

#shelf-top {
    border-bottom: 3px solid black;
}

#shelf-bottom {
    max-width: 85%;
    height: 20px;
    border-left: 3px solid black;
    border-right: 3px solid black;

    margin: auto;
}

#info-container section {
    border: 2px solid black;
    margin-top: 1em;
    font-size: 1.5em;
}

.info-border > div {
    padding: 0 30px;
    height: 100px;
    margin-top: -0.7em;
    
}
.info-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 2px;
    margin-left: 3em;
}

#info-text {
    margin-top: 10px;
}
